.content{
  display: flex;
  margin-top: 20px;
}

.image{
    width: 300px;
    height: 300px;}
.list_menu{
    display: flex;
    flex-direction: column;
    font-size: 20px;
    font-weight: 500;
    padding: 10px 20px;
    border-radius: 4px;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    
  }

  .link_menu{
    margin-top:10px;
    font-weight: 500;
    color: black;
  }

  .info{
    font-size: 20px;
    font-weight: 500;
    padding: 10px 20px;
    border-radius: 4px;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  }

  .genres{
    display: flex;  
    list-style: none;
    padding: 0;
    margin: 0;  
  }

  .link_genres{
    padding-right: 10px;
  }